
.new_follower_pop {
    color: white;
    position: absolute;
    display: none;
    justify-content: center;
    width: 100%;
    top: 1200px;
    /* left: 50%;
    transform: translateX(-50%); */
    z-index: 2;
    transition-property: top;
    transition-duration: 1s;
    transition-timing-function:ease-out;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    .ribbon_holder {
        position: relative;
    }

    &.onDisplay {
        display: flex;
        top: 120px;
        -webkit-animation-name: flipInX;
        animation-name: flipInX;
    }

    &.offDisplay {
        display: flex;
        top: 120px;
        -webkit-animation-name: flipOutX;
        animation-name: flipOutX;
    }

    #text_curve {
        position: absolute;
        top: 62px;
        left: -10px
    }

    .textStyle, text {
        font-variant: small-caps;
        font-size: 17px;
        letter-spacing: 1px;
        font-family: 'windlass', sans-serif;
        text-shadow: 1px 1px 3px black;
    }

    text {
        fill: white;
    }

    path {
        fill: none;
        stroke: 0;
        stroke-width: 1px;
        }
    svg {
        width: 500px;
        color: white;
    }

    .textStyle {
        position: absolute;
        top: 30px;
        left: 100px;
        z-index: 4;
        font-size: 32px;
        color: $gold_2;
        letter-spacing: 4px;
        transform: rotate(-17deg);
    }

    .right_text {
        top: 36px;
        left: 287px;
        font-size: 28px;
        letter-spacing: 1px;
        transform: rotate(17deg);
    }
    .left_text {
        top: 30px;
        left: 100px;
        transform: rotate(-17deg);
    }
}



#new_sub {
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    bottom: 120px;

    .hand {
        position: absolute;
        top: -20px;
        left: 40px;
    }

    .sub_text {
        position: absolute;
        top: 0px;
        left: 260px;
        width: 480px;
        height: 160px;
        font-variant: small-caps;
        font-size: 23px;
        letter-spacing: 1px;
        font-family: 'windlass', sans-serif;
        text-shadow: 1px 1px 3px black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        .name {
            color: $blue_3;
        }
    }
}